/* the main class for the body of the webpage */
.main {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: 600;
  background: #282828;
  color: #d6d6d6;
}

.main ::selection {
  background: #9c4535;
}

.main h3 {
  color:tomato;
  text-align: center;
}

.top-bar {
  width: 100%;
  background: #282828;
  color: #d6d6d6;
  position: fixed;
  height: 50px;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.button-container {
  width: 200px;
  height: auto;
  cursor: pointer;
  display: inline-flex;
}

.heading-container {
  display: inline-flex;
  align-content: center;
  width: 200px;
  height:auto;
  display: inline-block;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.heading-container a {
  color:inherit;
  text-decoration: none;
}

.heading-container :hover {
  color: tomato;
  cursor: pointer;
}

.main h1 {
  margin: 0px;
  vertical-align: middle;
  height:auto;
  text-align: center;
}

.photo-container {
  width: 100%;
  height: 600px;
  padding-top: 20px;
  color: black;
  background-attachment: fixed;
}

.main-photo {
  height:750px;
  background-image: url("Photos/MainBG.jpg");
  background-position: 0px 1200px;
}

.second-photo {
  background-image: url("Photos/me.jpg");
  background-position: 50% 40%;
}

.third-photo{
  background-image: url("Photos/small_light.jpeg");
  background-position: 50% 70%;
}

.fourth-photo {
  background-image: url("Photos/img4.jpg");
  background-position: bottom left;
}

.text-container {
  width:35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight:normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-container h4 {
  color:tomato;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 2px;
}

.text-container p {
  margin-top: .5em;
  margin-bottom: 1em;
}

.main a {
  color: tomato;
}


.text-header-container {
  text-align: center;
  width: auto;
  font-weight: 600;
}

.foot {
  width:800px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  position: sticky;
  text-align: center;
}

.foot p {
  margin-bottom: 1px;
}

.scroll-button {
  width: 100px;
  text-align: center;
}

.scroll-button :hover {
  color:tomato;
  cursor: pointer;
}

.wide {
  width:60%;
}

.centered {
  text-align: center;
}

.form-container {
  text-align: center;
  margin-bottom: 10px;
}

.text-input {
  font-family: 'Mukta Mahee', sans-serif;
  border-radius: 3px;
  border-width: 0px;
  background: #555555;
  color: #d6d6d6;
  font-weight: 600;
  padding-left: 3px;
  padding-right: 3px;
}

.large-input {
  width: 65%;
  height: 150px;
}

.small-button {
  margin-left:auto;
  margin-right: auto;
  width:75px;
  height:30px;
  background: #d6d6d6;
  color: #282828;
  border-radius:3px;
}

.small-button h5 {
  width:100%;
  height:100%;
  text-align: center;
}

.small-button :hover {
  background:tomato;
  border-radius:3px;
  cursor:pointer;
}
