/* the main class for the body of the webpage */
.main {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: 600;
}

/* the class for the navbar div */
.navbar {
  position: static;
  height: 50px;
  color: #dddddd;
}

.nb-item {
  position: static;
  text-align: center;
  background: #000000;
  opacity: 0.5;
  height: 45px;
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.nb-item:hover {
  opacity: 1;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
}

.nb-item-link {
  color: inherit;
  text-decoration: none;
  height: 150px;
  width: 45px;
  opacity: 1.0;
  margin: 0;
}

.nb-item-link p {
  margin: 0;
  padding-top: 7px;
  height: 50%;
}

/* the class for the "nluken" at the top of the webpage */
.nluken {
  color: #dddddd;
  text-align: center;
  padding-bottom: 10px;
  margin: 0px;
  vertical-align: middle;
  font-weight: lighter;

  /* so that animations will work */
  -webkit-transition:.5s;
  -moz-transition:.5s;
}

.nluken:hover {
  color:black;

}

/* class for the background */
.photo-bg {
  background-image: url("Photos/MainBG.jpg");
  background-repeat: no-repeat;
  background-position: -200px -200px;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* class for the picture of me */
.picture {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  background-image: url("Photos/Me1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  border-radius: 15px;
}

/* class for the container that holds the big header */
.bigHeader {
  position: absolute;
  right: 20px;
  bottom: 50px;
  color: white;
  width: 550px;
  height: 200px;
}

.bigHeader h1::selection {
  background: yellow;
}

/* class for the header text there */
.bigHeader h1 {
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 48pt;
  margin-bottom: 0;
}

/* class for the smaller header text */
.bigHeader h3 {
  text-align: center;
  font-weight: 600;
  margin-top: 0;
}
