@font-face {
    font-family: 'Karrik';
    src: url('fonts/WOFF2/Karrik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steps Mono';
    src: url('fonts/mono/Steps-Mono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steps-Mono';
    src: url('fonts/mono/Steps-Mono-Mono.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    color: #764643;
    background-image: url('photo/birdpit.jpg');
    background-size:cover;
    height: 100vh;
    font-family: 'Karrik', sans-serif;
}

p {
    font-family: 'Steps Mono', monospace;
}

.click-here {
    position: absolute;
    z-index: 100;
    border: solid;
    padding: .5rem;
    background: wheat;
    margin: auto;
    left:0;
    right:0;
    width: fit-content;
}

.blurred-nonfocus {
    filter:blur(4px);
}

.blurred-nonfocus:focus-within {
    filter:blur(0);
}

.content {
    text-align: center;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #A9AAB7;
    margin: auto;
}

.content-width {
    min-width: 50%;
    max-width: 50%;
}

textarea {
    resize: none;
    height: 1px;
    background-color: inherit;
    border: none;
}

textarea:focus {
    background-color: inherit;
    outline:none;
    color: #00000000;
}

.wrongggg {
    color: red;
}

.question > span {
    padding: 0;
    font-size: inherit;
}

.focused {
    text-decoration: underline;
    font-weight: bold;
    background-color: #9597ad;
}

.container:focus-within .click-here {
    display: none;
}

.smaller {
    font-size: smaller;
}


@media (max-width: 700px) {
    .content-width {
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .smaller {
        font-size: x-small;
    };

    .content-width {
        max-width: 400px;
    }

    .content p {
        font-size: 1.4rem;
    }

    .content h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content p {
        font-size: 1.3rem;
    }
}

@media (max-width: 380px) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content p {
        font-size: 1.4rem;
    }

    .content h2 {
        font-size: 1.7rem;
    }
}


h2 {
    text-shadow: #E2C147 2px 2px;
}

a {
    color: #E2C147;
    text-shadow: #764643 2px 2px;
}

/* from pixel corner website */
.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 15px),
    3px calc(100% - 15px),
    3px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 3px),
    15px calc(100% - 3px),
    15px 100%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 15px),
    100% calc(100% - 15px),
    100% 15px,
    calc(100% - 3px) 15px,
    calc(100% - 3px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 3px,
    calc(100% - 15px) 3px,
    calc(100% - 15px) 0px,
    15px 0px,
    15px 3px,
    9px 3px,
    9px 6px,
    6px 6px,
    6px 9px,
    3px 9px,
    3px 15px,
    0px 15px);
  position: relative;
}
.pixel-corners {
  border: 9px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(9px 18px,
    12px 18px,
    12px 12px,
    18px 12px,
    18px 9px,
    calc(100% - 18px) 9px,
    calc(100% - 18px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 18px,
    calc(100% - 9px) 18px,
    calc(100% - 9px) calc(100% - 18px),
    calc(100% - 12px) calc(100% - 18px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 18px) calc(100% - 12px),
    calc(100% - 18px) calc(100% - 9px),
    18px calc(100% - 9px),
    18px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 18px),
    9px calc(100% - 18px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 15px),
    3px calc(100% - 15px),
    3px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 3px),
    15px calc(100% - 3px),
    15px 100%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 15px),
    100% calc(100% - 15px),
    100% 15px,
    calc(100% - 3px) 15px,
    calc(100% - 3px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 3px,
    calc(100% - 15px) 3px,
    calc(100% - 15px) 0px,
    15px 0px,
    15px 3px,
    9px 3px,
    9px 6px,
    6px 6px,
    6px 9px,
    3px 9px,
    3px 15px,
    0px 15px,
    0px 50%,
    9px 50%,
    9px 18px,
    12px 18px,
    12px 12px,
    18px 12px,
    18px 9px,
    calc(100% - 18px) 9px,
    calc(100% - 18px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 18px,
    calc(100% - 9px) 18px,
    calc(100% - 9px) calc(100% - 18px),
    calc(100% - 12px) calc(100% - 18px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 18px) calc(100% - 12px),
    calc(100% - 18px) calc(100% - 9px),
    18px calc(100% - 9px),
    18px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 18px),
    9px calc(100% - 18px),
    9px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #764643;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -9px;
}

p {
    line-height: 1;
    font-size: 1.5rem;
}

.content-link:hover {
    background-color: #E2C147;
    text-shadow: #A9AAB7 2px 2px;
    text-decoration: underline dashed;
}

.w-hover:hover {
    background-color: #764643;
}

.top-2 {
    top: .5rem;
}


.delayed-fade-in {
    animation: 2s ease-out 0s 1 delayedFadeAppear;
}
.delayed-fade-in-2 {
    animation: 3s ease-out 0s 1 delayedFadeAppear;
}
.delayed-fade-in-3 {
    animation: 4s ease-out 0s 1 delayedFadeAppear;
}
.delayed-fade-in-4 {
    animation: 5s ease-out 0s 1 delayedFadeAppear;
}
.delayed-fade-in-5 {
    animation: 6s ease-out 0s 1 delayedFadeAppear;
}


@keyframes fadeAppear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes delayedFadeAppear {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
